flow.json
[
    {
        "id": "c1a3c735442e864b",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c7000847999bd2cf",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "64d45d3401d649ae",
        "type": "tab",
        "label": "Flow 3",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "b218c36c30e09138",
        "type": "subflow",
        "name": "Subflow 2",
        "info": "",
        "in": [],
        "out": []
    },
    {
        "id": "dc0e2f9084900d58",
        "type": "group",
        "z": "c1a3c735442e864b",
        "name": "Group",
        "style": {
            "label": true
        },
        "nodes": [
            "f8baeafa.fdf628",
            "b8d890e6.6f64d",
            "e588158b12a04653"
        ],
        "x": 34,
        "y": 59,
        "w": 472,
        "h": 122
    },
    {
        "id": "338844cb822f7eee",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "cc6a5236fc5ef4c0",
        "type": "ui_tab",
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "d4996dcfda4d4f73",
        "type": "ui_tab",
        "name": "Tab 2",
        "icon": "dashboard",
        "order": 2
    },
    {
        "id": "7e065b67e2852456",
        "type": "ui_tab",
        "name": "Tab 3",
        "icon": "dashboard",
        "order": 3
    },
    {
        "id": "7a661e6241aac89f",
        "type": "ui_link",
        "name": "Link 4",
        "icon": "open_in_browser",
        "target": "newtab",
        "order": 4
    },
    {
        "id": "e591cef7b989d928",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "7e065b67e2852456",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "6d99c8d670bd1330",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "d4996dcfda4d4f73",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "ec6effef56ec86f2",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "cc6a5236fc5ef4c0",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "8fa49657b233d311",
        "type": "inject",
        "z": "b218c36c30e09138",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 80,
        "wires": [
            [
                "2902444343f765f2"
            ]
        ]
    },
    {
        "id": "2902444343f765f2",
        "type": "debug",
        "z": "b218c36c30e09138",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 330,
        "y": 80,
        "wires": []
    },
    {
        "id": "f8baeafa.fdf628",
        "type": "inject",
        "z": "c1a3c735442e864b",
        "g": "dc0e2f9084900d58",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 100,
        "wires": [
            [
                "b8d890e6.6f64d",
                "e588158b12a04653"
            ]
        ]
    },
    {
        "id": "b8d890e6.6f64d",
        "type": "debug",
        "z": "c1a3c735442e864b",
        "g": "dc0e2f9084900d58",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 140,
        "wires": []
    },
    {
        "id": "e588158b12a04653",
        "type": "debug",
        "z": "c1a3c735442e864b",
        "g": "dc0e2f9084900d58",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 100,
        "wires": []
    },
    {
        "id": "29e90ed3.ecc092",
        "type": "function",
        "z": "c7000847999bd2cf",
        "name": "",
        "func": "// Randomly throw an error rather than\n// pass on message.\nif (Math.random() < 0.5) {\n    node.error(\"a random error\", msg);\n} else {\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 100,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "8ff2529d.bf5e",
        "type": "template",
        "z": "c7000847999bd2cf",
        "name": "JSON",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"data\": {\n        \"message\": \"Everyone left home but Guest Mode is on\",\n        \"data\": {\n            \"push\": {\n                \"category\": \"guest_mode_everyone_left\"\n            }\n        }\n    }\n}",
        "output": "str",
        "x": 90,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "dd176f74.d61dc",
        "type": "trigger",
        "z": "c7000847999bd2cf",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "json",
        "duration": "250",
        "extend": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "outputs": 1,
        "x": 120,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "9b76b453.a9b188",
        "type": "inject",
        "z": "c7000847999bd2cf",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 90,
        "y": 320,
        "wires": [
            [
                "bc846df1.1b21a"
            ]
        ]
    },
    {
        "id": "bc846df1.1b21a",
        "type": "function",
        "z": "c7000847999bd2cf",
        "name": "",
        "func": "node.warn(\"Something happened you should know about\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "ec7b5d97.26b46",
        "type": "inject",
        "z": "c7000847999bd2cf",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 90,
        "y": 380,
        "wires": [
            [
                "876bffaf.a2631"
            ]
        ]
    },
    {
        "id": "876bffaf.a2631",
        "type": "function",
        "z": "c7000847999bd2cf",
        "name": "",
        "func": "node.error(\"Oh no, something bad happened\", msg);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "5b103c60.a647a4",
        "type": "inject",
        "z": "c7000847999bd2cf",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 260,
        "wires": [
            [
                "51c09f1c.24a55"
            ]
        ]
    },
    {
        "id": "51c09f1c.24a55",
        "type": "debug",
        "z": "c7000847999bd2cf",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 230,
        "y": 260,
        "wires": []
    },
    {
        "id": "2db36685304efda6",
        "type": "subflow:b218c36c30e09138",
        "z": "c7000847999bd2cf",
        "name": "",
        "env": [],
        "x": 540,
        "y": 120,
        "wires": []
    },
    {
        "id": "2c5cb2ac52696061",
        "type": "delay",
        "z": "c7000847999bd2cf",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 240,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "ad113e6b670be4cc",
        "type": "inject",
        "z": "c7000847999bd2cf",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 90,
        "y": 440,
        "wires": [
            [
                "045ae7e055380d0a"
            ]
        ]
    },
    {
        "id": "045ae7e055380d0a",
        "type": "function",
        "z": "c7000847999bd2cf",
        "name": "",
        "func": "node.log(\"Oh no, something bad happened\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "e8bc94f3.31c808",
        "type": "template",
        "z": "c7000847999bd2cf",
        "name": "MUST",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "This is the payload: {{payload}} !",
        "output": "str",
        "x": 90,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "1b0269a987e8f1a8",
        "type": "inject",
        "z": "c7000847999bd2cf",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 90,
        "y": 500,
        "wires": [
            [
                "2c5cb2ac52696061"
            ]
        ]
    },
    {
        "id": "250e96d93fdc8826",
        "type": "inject",
        "z": "c7000847999bd2cf",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 410,
        "y": 380,
        "wires": [
            [
                "59f262f87cc6ad9f",
                "aabf2ed96cd49807",
                "799d03b7ddc6651c",
                "6c064666fe9f154b",
                "75d6130209ffc136"
            ]
        ]
    },
    {
        "id": "75d6130209ffc136",
        "type": "function",
        "z": "c7000847999bd2cf",
        "name": "",
        "func": "node.status({fill:\"red\",shape:\"ring\",text:\"Test\"});",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "6c064666fe9f154b",
        "type": "function",
        "z": "c7000847999bd2cf",
        "name": "",
        "func": "node.status({fill:\"green\",shape:\"ring\",text:\"Test\"});",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "aabf2ed96cd49807",
        "type": "function",
        "z": "c7000847999bd2cf",
        "name": "",
        "func": "node.status({fill:\"blue\",shape:\"ring\",text:\"Test\"});",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "59f262f87cc6ad9f",
        "type": "function",
        "z": "c7000847999bd2cf",
        "name": "",
        "func": "node.status({fill:\"grey\",shape:\"ring\",text:\"Test\"});",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "799d03b7ddc6651c",
        "type": "function",
        "z": "c7000847999bd2cf",
        "name": "",
        "func": "node.status({fill:\"yellow\",shape:\"ring\",text:\"Test\"});",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "d3595dd307c871b3",
        "type": "ui_button",
        "z": "c7000847999bd2cf",
        "name": "",
        "group": "ec6effef56ec86f2",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 90,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "cd87129ffa7a6134",
        "type": "ui_dropdown",
        "z": "c7000847999bd2cf",
        "name": "",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "ec6effef56ec86f2",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "A",
                "value": "a",
                "type": "str"
            },
            {
                "label": "B",
                "value": "b",
                "type": "str"
            },
            {
                "label": "C",
                "value": "c",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 110,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "379f1551926e5539",
        "type": "ui_switch",
        "z": "c7000847999bd2cf",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "ec6effef56ec86f2",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 90,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "6e667b92cfe21dfb",
        "type": "ui_slider",
        "z": "c7000847999bd2cf",
        "name": "",
        "label": "slider",
        "tooltip": "",
        "group": "ec6effef56ec86f2",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 90,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "28483bb93d90e9bf",
        "type": "ui_numeric",
        "z": "c7000847999bd2cf",
        "name": "",
        "label": "numeric",
        "tooltip": "",
        "group": "ec6effef56ec86f2",
        "order": 4,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 100,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "31728728f9b46ddd",
        "type": "ui_text_input",
        "z": "c7000847999bd2cf",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "ec6effef56ec86f2",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 100,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "f4c3da33d7225240",
        "type": "ui_date_picker",
        "z": "c7000847999bd2cf",
        "name": "",
        "label": "date",
        "group": "ec6effef56ec86f2",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 90,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "79076063156b26c8",
        "type": "ui_colour_picker",
        "z": "c7000847999bd2cf",
        "name": "",
        "label": "",
        "group": "ec6effef56ec86f2",
        "format": "hex",
        "outformat": "string",
        "showSwatch": true,
        "showPicker": false,
        "showValue": false,
        "showHue": false,
        "showAlpha": false,
        "showLightness": true,
        "square": "false",
        "dynOutput": "false",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 110,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "aee93c2865532f1a",
        "type": "ui_form",
        "z": "c7000847999bd2cf",
        "name": "",
        "label": "",
        "group": "ec6effef56ec86f2",
        "order": 8,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Text",
                "value": "text",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Multiline",
                "value": "multiline",
                "type": "multiline",
                "required": false,
                "rows": 3
            },
            {
                "label": "Number",
                "value": "number",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "E-mail",
                "value": "e-mail",
                "type": "email",
                "required": false,
                "rows": null
            },
            {
                "label": "Password",
                "value": "password",
                "type": "password",
                "required": false,
                "rows": null
            },
            {
                "label": "Checkbox",
                "value": "checkbox",
                "type": "checkbox",
                "required": false,
                "rows": null
            },
            {
                "label": "Switch",
                "value": "switch",
                "type": "switch",
                "required": false,
                "rows": null
            },
            {
                "label": "Date",
                "value": "date",
                "type": "date",
                "required": false,
                "rows": null
            },
            {
                "label": "Time",
                "value": "time",
                "type": "time",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "text": "",
            "multiline": "",
            "number": "",
            "e-mail": "",
            "password": "",
            "checkbox": false,
            "switch": false,
            "date": "",
            "time": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 90,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "d0b52dc2ae447099",
        "type": "ui_text",
        "z": "c7000847999bd2cf",
        "group": "6d99c8d670bd1330",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 90,
        "y": 940,
        "wires": []
    },
    {
        "id": "e319ec812e23bd50",
        "type": "ui_gauge",
        "z": "c7000847999bd2cf",
        "name": "",
        "group": "6d99c8d670bd1330",
        "order": 10,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 90,
        "y": 980,
        "wires": []
    },
    {
        "id": "8993c640dcdbb48f",
        "type": "ui_chart",
        "z": "c7000847999bd2cf",
        "name": "",
        "group": "6d99c8d670bd1330",
        "order": 11,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 90,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "088fd87f1be5dc46",
        "type": "ui_audio",
        "z": "c7000847999bd2cf",
        "name": "",
        "group": "6d99c8d670bd1330",
        "voice": "",
        "always": "",
        "x": 100,
        "y": 1060,
        "wires": []
    },
    {
        "id": "01fc798171915ee0",
        "type": "ui_toast",
        "z": "c7000847999bd2cf",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 130,
        "y": 1100,
        "wires": []
    },
    {
        "id": "8ac9035d5f5b528e",
        "type": "ui_ui_control",
        "z": "c7000847999bd2cf",
        "name": "",
        "events": "all",
        "x": 100,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "93bdf700215fb3ec",
        "type": "ui_template",
        "z": "c7000847999bd2cf",
        "group": "e591cef7b989d928",
        "name": "",
        "order": 13,
        "width": 0,
        "height": 0,
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 100,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "9e16fe1427c2fd6c",
        "type": "inject",
        "z": "64d45d3401d649ae",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 120,
        "wires": [
            [
                "5c8b5e867d88b008"
            ]
        ]
    },
    {
        "id": "5c8b5e867d88b008",
        "type": "debug",
        "z": "64d45d3401d649ae",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 340,
        "wires": []
    }
]