flow.json
[
    {
        "id": "c1a3c735442e864b",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c7000847999bd2cf",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "64d45d3401d649ae",
        "type": "tab",
        "label": "Flow 3",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "b218c36c30e09138",
        "type": "subflow",
        "name": "Subflow 2",
        "info": "",
        "in": [],
        "out": []
    },
    {
        "id": "dc0e2f9084900d58",
        "type": "group",
        "z": "c1a3c735442e864b",
        "name": "Group",
        "style": {
            "label": true
        },
        "nodes": [
            "f8baeafa.fdf628",
            "b8d890e6.6f64d",
            "e588158b12a04653"
        ],
        "x": 34,
        "y": 59,
        "w": 472,
        "h": 122
    },
    {
        "id": "88b1772b3c4a1d59",
        "type": "ui-base",
        "name": "UI Name",
        "path": "/dashboard"
    },
    {
        "id": "4b551cd36a9d5f79",
        "type": "ui-theme",
        "name": "Theme Name",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094ce",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        }
    },
    {
        "id": "4b7c3fd52199a3be",
        "type": "ui-page",
        "name": "Page Name",
        "ui": "88b1772b3c4a1d59",
        "path": "/",
        "layout": "grid",
        "theme": "4b551cd36a9d5f79",
        "order": -1
    },
    {
        "id": "b02c2bc5a89b478b",
        "type": "ui-group",
        "name": "Group Name",
        "page": "4b7c3fd52199a3be",
        "width": "6",
        "height": "1",
        "order": -1,
        "disp": true
    },
    {
        "id": "8fa49657b233d311",
        "type": "inject",
        "z": "b218c36c30e09138",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 80,
        "wires": [
            [
                "2902444343f765f2"
            ]
        ]
    },
    {
        "id": "2902444343f765f2",
        "type": "debug",
        "z": "b218c36c30e09138",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 330,
        "y": 80,
        "wires": []
    },
    {
        "id": "f8baeafa.fdf628",
        "type": "inject",
        "z": "c1a3c735442e864b",
        "g": "dc0e2f9084900d58",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 100,
        "wires": [
            [
                "b8d890e6.6f64d",
                "e588158b12a04653"
            ]
        ]
    },
    {
        "id": "b8d890e6.6f64d",
        "type": "debug",
        "z": "c1a3c735442e864b",
        "g": "dc0e2f9084900d58",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 140,
        "wires": []
    },
    {
        "id": "e588158b12a04653",
        "type": "debug",
        "z": "c1a3c735442e864b",
        "g": "dc0e2f9084900d58",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 100,
        "wires": []
    },
    {
        "id": "29e90ed3.ecc092",
        "type": "function",
        "z": "c7000847999bd2cf",
        "name": "",
        "func": "// Randomly throw an error rather than\n// pass on message.\nif (Math.random() < 0.5) {\n    node.error(\"a random error\", msg);\n} else {\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 100,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "8ff2529d.bf5e",
        "type": "template",
        "z": "c7000847999bd2cf",
        "name": "JSON",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"data\": {\n        \"message\": \"Everyone left home but Guest Mode is on\",\n        \"data\": {\n            \"push\": {\n                \"category\": \"guest_mode_everyone_left\"\n            }\n        }\n    }\n}",
        "output": "str",
        "x": 90,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "dd176f74.d61dc",
        "type": "trigger",
        "z": "c7000847999bd2cf",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "json",
        "duration": "250",
        "extend": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "outputs": 1,
        "x": 120,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "9b76b453.a9b188",
        "type": "inject",
        "z": "c7000847999bd2cf",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 90,
        "y": 320,
        "wires": [
            [
                "bc846df1.1b21a"
            ]
        ]
    },
    {
        "id": "bc846df1.1b21a",
        "type": "function",
        "z": "c7000847999bd2cf",
        "name": "",
        "func": "node.warn(\"Something happened you should know about\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "ec7b5d97.26b46",
        "type": "inject",
        "z": "c7000847999bd2cf",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 90,
        "y": 380,
        "wires": [
            [
                "876bffaf.a2631"
            ]
        ]
    },
    {
        "id": "876bffaf.a2631",
        "type": "function",
        "z": "c7000847999bd2cf",
        "name": "",
        "func": "node.error(\"Oh no, something bad happened\", msg);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "5b103c60.a647a4",
        "type": "inject",
        "z": "c7000847999bd2cf",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 260,
        "wires": [
            [
                "51c09f1c.24a55"
            ]
        ]
    },
    {
        "id": "51c09f1c.24a55",
        "type": "debug",
        "z": "c7000847999bd2cf",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 230,
        "y": 260,
        "wires": []
    },
    {
        "id": "2db36685304efda6",
        "type": "subflow:b218c36c30e09138",
        "z": "c7000847999bd2cf",
        "name": "",
        "env": [],
        "x": 540,
        "y": 120,
        "wires": []
    },
    {
        "id": "2c5cb2ac52696061",
        "type": "delay",
        "z": "c7000847999bd2cf",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 240,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "ad113e6b670be4cc",
        "type": "inject",
        "z": "c7000847999bd2cf",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 90,
        "y": 440,
        "wires": [
            [
                "045ae7e055380d0a"
            ]
        ]
    },
    {
        "id": "045ae7e055380d0a",
        "type": "function",
        "z": "c7000847999bd2cf",
        "name": "",
        "func": "node.log(\"Oh no, something bad happened\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "e8bc94f3.31c808",
        "type": "template",
        "z": "c7000847999bd2cf",
        "name": "MUST",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "This is the payload: {{payload}} !",
        "output": "str",
        "x": 90,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "1b0269a987e8f1a8",
        "type": "inject",
        "z": "c7000847999bd2cf",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 90,
        "y": 500,
        "wires": [
            [
                "2c5cb2ac52696061"
            ]
        ]
    },
    {
        "id": "250e96d93fdc8826",
        "type": "inject",
        "z": "c7000847999bd2cf",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 410,
        "y": 380,
        "wires": [
            [
                "59f262f87cc6ad9f",
                "aabf2ed96cd49807",
                "799d03b7ddc6651c",
                "6c064666fe9f154b",
                "75d6130209ffc136"
            ]
        ]
    },
    {
        "id": "75d6130209ffc136",
        "type": "function",
        "z": "c7000847999bd2cf",
        "name": "",
        "func": "node.status({fill:\"red\",shape:\"ring\",text:\"Test\"});",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "6c064666fe9f154b",
        "type": "function",
        "z": "c7000847999bd2cf",
        "name": "",
        "func": "node.status({fill:\"green\",shape:\"ring\",text:\"Test\"});",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "aabf2ed96cd49807",
        "type": "function",
        "z": "c7000847999bd2cf",
        "name": "",
        "func": "node.status({fill:\"blue\",shape:\"ring\",text:\"Test\"});",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "59f262f87cc6ad9f",
        "type": "function",
        "z": "c7000847999bd2cf",
        "name": "",
        "func": "node.status({fill:\"grey\",shape:\"ring\",text:\"Test\"});",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "799d03b7ddc6651c",
        "type": "function",
        "z": "c7000847999bd2cf",
        "name": "",
        "func": "node.status({fill:\"yellow\",shape:\"ring\",text:\"Test\"});",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "ac87a00171b4dbc9",
        "type": "ui-form",
        "z": "c7000847999bd2cf",
        "name": "",
        "group": "b02c2bc5a89b478b",
        "label": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "",
                "key": "Text",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "",
                "key": "Multiline",
                "type": "multiline",
                "required": false,
                "rows": 3
            },
            {
                "label": "",
                "key": "Number",
                "type": "number",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "Text": "",
            "Multiline": "",
            "Number": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "clear",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "x": 70,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "ce4186aadf1213f3",
        "type": "ui-text-input",
        "z": "c7000847999bd2cf",
        "group": "b02c2bc5a89b478b",
        "name": "",
        "label": "text",
        "order": 0,
        "width": 0,
        "height": 0,
        "mode": "text",
        "passthru": true,
        "x": 70,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "1bd65bfdfde97eb5",
        "type": "ui-button",
        "z": "c7000847999bd2cf",
        "group": "b02c2bc5a89b478b",
        "name": "",
        "label": "button",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 70,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "09c3fe4883fded55",
        "type": "ui-dropdown",
        "z": "c7000847999bd2cf",
        "group": "b02c2bc5a89b478b",
        "name": "",
        "label": "Select Option:",
        "tooltip": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 100,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "68de093f0896acbf",
        "type": "ui-radio-group",
        "z": "c7000847999bd2cf",
        "group": "b02c2bc5a89b478b",
        "name": "",
        "label": "Select Option:",
        "order": 0,
        "width": 0,
        "height": 0,
        "columns": 1,
        "passthru": true,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 100,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "186cda2f68f7cb29",
        "type": "ui-slider",
        "z": "c7000847999bd2cf",
        "group": "b02c2bc5a89b478b",
        "name": "",
        "label": "slider",
        "tooltip": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": 10,
        "step": 1,
        "x": 70,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "1c21a4514ae0eec9",
        "type": "ui-switch",
        "z": "c7000847999bd2cf",
        "name": "",
        "label": "switch",
        "group": "b02c2bc5a89b478b",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 70,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "f5f3baa88052374b",
        "type": "ui-text",
        "z": "c7000847999bd2cf",
        "group": "b02c2bc5a89b478b",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 70,
        "y": 840,
        "wires": []
    },
    {
        "id": "cfb6295b47accc8f",
        "type": "ui-chart",
        "z": "c7000847999bd2cf",
        "group": "b02c2bc5a89b478b",
        "name": "",
        "label": "chart",
        "order": 9007199254740991,
        "chartType": "line",
        "xAxisType": "linear",
        "width": 0,
        "height": 0,
        "x": 70,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "2826f991ea2fa8a9",
        "type": "ui-markdown",
        "z": "c7000847999bd2cf",
        "group": "b02c2bc5a89b478b",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "content": "# Markdown Content\n\nGoes here...",
        "x": 90,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "e502f7853659420a",
        "type": "ui-template",
        "z": "c7000847999bd2cf",
        "group": "b02c2bc5a89b478b",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<div>{{ msg.payload }}</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 80,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "9e16fe1427c2fd6c",
        "type": "inject",
        "z": "64d45d3401d649ae",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 120,
        "wires": [
            [
                "5c8b5e867d88b008"
            ]
        ]
    },
    {
        "id": "5c8b5e867d88b008",
        "type": "debug",
        "z": "64d45d3401d649ae",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 340,
        "wires": []
    }
]